{% extends "my_app/base.html" %}
{% block body %}
  <h1 class="title is-3">Home Page</h1>

  <h2 class="subtitle is-5">Cook with your friends!</h2>

  <h3 class="subtitle is-5"> <a href="{% url 'my_app:my-tasks-view' %}">My Tasks</a> </h3>
  <h3 class="subtitle is-5"> <a href="{% url 'my_app:list-my-cooking-sessions' %}">My cooking sessions</a> </h3>
  <h3 class="subtitle is-5"> <a href="{% url 'my_app:my-cooking-session' %}">My Cooking Session</a> </h3>
  <h3 class="subtitle is-5"> <a href="{% url 'my_app:recipes-list-view' %}">Recipes</a> </h3>
{% endblock %}
