{% extends "my_app/base.html" %}
{% block body %}

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form class="control" method="post">
    {% csrf_token %}

    <div class="block">
      <label for="email">Email:</label>
      <input class="input" type="email" name="email" required>
    </div>

    <div class="block">
      <label for="password">Password:</label>
      <input class="input" type="password" name="password" required>
    </div>

    <input type="hidden" name="next" value="{{ next }}">

    <div class="block">
      <button class="button is-primary" type="submit">Login</button>
    </div>
</form>
{% endblock %}
